*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: aqua;
}
.grid{
    padding: 100px;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.grid-cell{
    display: flex;
    flex-wrap: wrap;
}
.cell{
    border: 2px solid black;
    aspect-ratio: 1 / 1;
    width: calc(100% / 5);
  
}
.bg-black{
    background-color: black;
}
