* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header{
    justify-content: space-between;
    display: flex;
    padding: 20px ;
}
.footer{
    padding: 20px;
    font-size: 20px;

}
select{
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px 25px;
    background-color: lightgray;
    font-weight: bold;
}
.play{
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px 25px;
    background-color: lightgray;
    font-weight: bold;

}

.bg-main {
    background-color:lightgray
}

.grid {
    padding: 100px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.grid-cell {
    display: grid;


}

.cell {
    background-color: aqua;
    color: brown;
    border: 2px solid rgb(61, 55, 55);
    aspect-ratio: 1 / 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

.bg-blue {
    background-color: rgb(17, 17, 137);
}
.easy{
   grid-template-columns: repeat(10,1fr);
}
.medium{
    grid-template-columns: repeat(9,1fr);
   

}
.hard{
    grid-template-columns: repeat(7,1fr);
   
}
